In [67]:
import pandas as pd
import numpy as np

In [68]:
#Parsing date column of both datasets to be read by python

p_dates = ['ReadingDateTime']
w_dates = ['DATE']
pdata = pd.read_csv('pollution-1.csv',parse_dates=p_dates)
wdata = pd.read_csv('weather-1.csv',parse_dates=w_dates)

In [69]:
#Downsampling the weather dataset by removing every odd sample

mask = wdata.index%2==0
wdata=wdata[mask]
wdata = wdata.reset_index(drop=True)

In [70]:
#Joining the weather and pollution datasets

data = pd.concat([pdata.ReadingDateTime[0:17520].rename('DATE'), wdata['DEW'],wdata['TMP'],wdata['WND'],pdata.Value[pdata.Species=='NO2'].reset_index(drop=True).rename('NO2'),pdata.Value[(pdata.Species=='O3')].reset_index(drop=True).rename('O3'),pdata.Value[(pdata.Species=='PM2.5')].reset_index(drop=True).rename('PM25')], axis=1)

In [72]:
#Extracting numerical values of dew point, temperature, wind speed and direction

data['DEW'] = data['DEW'].str[:-2].astype(np.float64)/10
data['TMP'] = data['TMP'].str[:-2].astype(np.float64)/10
data['DIR'] = data['WND'].str[:3].astype(np.float64)
data['SPD'] = data['WND'].str[8:-2].astype(np.float64)/10
data.drop('WND', axis =1)

                     DATE  DEW   TMP   NO2    O3  PM25    DIR  SPD
0     2017-01-01 00:00:00  5.0   8.0  38.9  22.5  28.4  230.0  4.6
1     2017-01-01 01:00:00  5.0   7.0  63.0  18.1  32.5  230.0  2.6
2     2017-01-01 02:00:00  5.0   7.0  47.9  20.3  24.9  240.0  4.6
3     2017-01-01 03:00:00  5.0   7.0  51.0  18.3  19.8  220.0  4.1
4     2017-01-01 04:00:00  4.0   7.0  42.8  18.9  20.3  220.0  3.6
5     2017-01-01 05:00:00  5.0   7.0  40.6  21.3  19.0  220.0  4.1
6     2017-01-01 06:00:00  5.0   7.0  42.1  16.8  20.6  240.0  3.6
7     2017-01-01 07:00:00  6.0   7.0  35.1  23.2  19.6  230.0  3.6
8     2017-01-01 08:00:00  6.0   8.0  39.8  17.5  19.5  220.0  3.1
9     2017-01-01 09:00:00  7.0   8.0  43.1  15.3  20.0  210.0  2.6
10    2017-01-01 10:00:00  7.0   9.0  36.1  28.6  14.3  240.0  3.1
11    2017-01-01 11:00:00  8.0  10.0  34.3  35.5   5.5  240.0  4.1
12    2017-01-01 12:00:00  7.0  10.0  42.1  33.2   5.9  240.0  4.6
13    2017-01-01 13:00:00  7.0  10.0  49.1  30.2   8.3  240.0  4.1
14    2017-01-01 14:00:00  8.0   9.0  44.8  35.8   4.0  270.0  3.6
15    2017-01-01 15:00:00  5.0   6.0  37.8  45.6   2.7   10.0  5.7
16    2017-01-01 16:00:00  4.0   6.0  34.3  48.7   0.8   10.0  4.6
17    2017-01-01 17:00:00  4.0   5.0  25.7  52.9   1.2   30.0  4.1
18    2017-01-01 18:00:00  4.0   5.0  35.2  45.8   0.0   30.0  4.1
19    2017-01-01 19:00:00  4.0   5.0  31.2  48.9   1.8   30.0  4.1
20    2017-01-01 20:00:00  4.0   5.0  34.8  43.0   3.8   20.0  3.6
21    2017-01-01 21:00:00  4.0   5.0  40.6  36.7   3.4   10.0  4.6
22    2017-01-01 22:00:00  4.0   5.0  34.9  36.2   4.5   10.0  3.6
23    2017-01-01 23:00:00  4.0   5.0  38.6  31.7   4.2   10.0  2.6
24    2017-02-01 00:00:00  3.0   5.0  30.7  38.2   2.9   10.0  3.1
25    2017-02-01 01:00:00  3.0   5.0  27.4  38.8   3.6   10.0  3.6
26    2017-02-01 02:00:00  3.0   5.0  24.3  39.2  -0.3   10.0  4.6
27    2017-02-01 03:00:00  2.0   4.0  26.8  33.8   2.5  350.0  4.1
28    2017-02-01 04:00:00  2.0   3.0  33.9  28.9   3.4  350.0  2.1
29    2017-02-01 05:00:00  2.0   3.0  42.5  19.0   4.3  999.0  1.0
...                   ...  ...   ...   ...   ...   ...    ...  ...
17490 2018-12-30 18:00:00  NaN   NaN  61.2  13.6  12.9    NaN  NaN
17491 2018-12-30 19:00:00  NaN   NaN  54.7  20.6   5.2    NaN  NaN
17492 2018-12-30 20:00:00  NaN   NaN  46.7  22.0   7.0    NaN  NaN
17493 2018-12-30 21:00:00  NaN   NaN  48.4  22.6   7.5    NaN  NaN
17494 2018-12-30 22:00:00  NaN   NaN  46.4  23.7   6.0    NaN  NaN
17495 2018-12-30 23:00:00  NaN   NaN  44.5  26.1   5.1    NaN  NaN
17496 2018-12-31 00:00:00  NaN   NaN  39.4  28.4   3.1    NaN  NaN
17497 2018-12-31 01:00:00  NaN   NaN  30.8  32.0   5.7    NaN  NaN
17498 2018-12-31 02:00:00  NaN   NaN  27.8  30.2   9.4    NaN  NaN
17499 2018-12-31 03:00:00  NaN   NaN  20.0  33.9   6.1    NaN  NaN
17500 2018-12-31 04:00:00  NaN   NaN  21.2  32.5   7.1    NaN  NaN
17501 2018-12-31 05:00:00  NaN   NaN  29.3  30.7   6.8    NaN  NaN
17502 2018-12-31 06:00:00  NaN   NaN  33.3  28.6   7.0    NaN  NaN
17503 2018-12-31 07:00:00  NaN   NaN  41.2  21.7   7.5    NaN  NaN
17504 2018-12-31 08:00:00  NaN   NaN  54.8  17.0   8.8    NaN  NaN
17505 2018-12-31 09:00:00  NaN   NaN  48.5  20.0   8.0    NaN  NaN
17506 2018-12-31 10:00:00  NaN   NaN  51.7  26.6   5.6    NaN  NaN
17507 2018-12-31 11:00:00  NaN   NaN  64.1  19.0   6.3    NaN  NaN
17508 2018-12-31 12:00:00  NaN   NaN  62.2  22.2   5.9    NaN  NaN
17509 2018-12-31 13:00:00  NaN   NaN  58.6  23.2   5.3    NaN  NaN
17510 2018-12-31 14:00:00  NaN   NaN  64.8  21.9   5.2    NaN  NaN
17511 2018-12-31 15:00:00  NaN   NaN  57.2  26.1   5.6    NaN  NaN
17512 2018-12-31 16:00:00  NaN   NaN  50.0  29.7   7.0    NaN  NaN
17513 2018-12-31 17:00:00  NaN   NaN  51.7  28.7   7.2    NaN  NaN
17514 2018-12-31 18:00:00  NaN   NaN  55.2  27.6   9.8    NaN  NaN
17515 2018-12-31 19:00:00  NaN   NaN  59.3  24.4  11.5    NaN  NaN
17516 2018-12-31 20:00:00  NaN   NaN  46.9  30.4  10.6    NaN  NaN
17517 2018-12-31 21:00:00  NaN   NaN  41.9  31.5  11.0    NaN  NaN
17518 2018-12-31 22:00:00  NaN   NaN  35.1  35.6  11.3    NaN  NaN
17519 2018-12-31 23:00:00  NaN   NaN  31.7  39.4  14.8    NaN  NaN

[17520 rows x 8 columns]