In [1]:
import pandas as pd

In [2]:
p_dates = ['ReadingDateTime']
w_dates = ['DATE']
pdata = pd.read_csv('pollution-1.csv',parse_dates=p_dates)
wdata = pd.read_csv('weather-1.csv',parse_dates=w_dates)

In [4]:
mask = wdata.index%2==0
wdata=wdata[mask]
wdata = wdata.reset_index(drop=True)

In [58]:
data = pd.concat([pdata.ReadingDateTime[0:17520].rename('Date'), wdata['DEW'],wdata['TMP'],wdata['WND'],pdata.Value[pdata.Species=='NO2'].reset_index(drop=True).rename('NO2'),pdata.Value[(pdata.Species=='O3')].reset_index(drop=True).rename('O3'),pdata.Value[(pdata.Species=='PM2.5')].reset_index(drop=True).rename('PM25')], axis=1)

In [57]:
data

                     Date      DEW     TEMP            WIND   NO2    O3  PM2.5
0     2017-01-01 00:00:00  +0050,1  +0080,1  230,1,N,0046,1  38.9  22.5   28.4
1     2017-01-01 01:00:00  +0050,1  +0070,1  230,1,N,0026,1  63.0  18.1   32.5
2     2017-01-01 02:00:00  +0050,1  +0070,1  240,1,N,0046,1  47.9  20.3   24.9
3     2017-01-01 03:00:00  +0050,1  +0070,1  220,1,V,0041,1  51.0  18.3   19.8
4     2017-01-01 04:00:00  +0040,1  +0070,1  220,1,N,0036,1  42.8  18.9   20.3
5     2017-01-01 05:00:00  +0050,1  +0070,1  220,1,V,0041,1  40.6  21.3   19.0
6     2017-01-01 06:00:00  +0050,1  +0070,1  240,1,V,0036,1  42.1  16.8   20.6
7     2017-01-01 07:00:00  +0060,1  +0070,1  230,1,V,0036,1  35.1  23.2   19.6
8     2017-01-01 08:00:00  +0060,1  +0080,1  220,1,V,0031,1  39.8  17.5   19.5
9     2017-01-01 09:00:00  +0070,1  +0080,1  210,1,V,0026,1  43.1  15.3   20.0
10    2017-01-01 10:00:00  +0070,1  +0090,1  240,1,N,0031,1  36.1  28.6   14.3
11    2017-01-01 11:00:00  +0080,1  +0100,1  240,1,V,0041,1  34.3  35.5    5.5
12    2017-01-01 12:00:00  +0070,1  +0100,1  240,1,N,0046,1  42.1  33.2    5.9
13    2017-01-01 13:00:00  +0070,1  +0100,1  240,1,N,0041,1  49.1  30.2    8.3
14    2017-01-01 14:00:00  +0080,1  +0090,1  270,1,V,0036,1  44.8  35.8    4.0
15    2017-01-01 15:00:00  +0050,1  +0060,1  010,1,N,0057,1  37.8  45.6    2.7
16    2017-01-01 16:00:00  +0040,1  +0060,1  010,1,V,0046,1  34.3  48.7    0.8
17    2017-01-01 17:00:00  +0040,1  +0050,1  030,1,N,0041,1  25.7  52.9    1.2
18    2017-01-01 18:00:00  +0040,1  +0050,1  030,1,N,0041,1  35.2  45.8    0.0
19    2017-01-01 19:00:00  +0040,1  +0050,1  030,1,N,0041,1  31.2  48.9    1.8
20    2017-01-01 20:00:00  +0040,1  +0050,1  020,1,N,0036,1  34.8  43.0    3.8
21    2017-01-01 21:00:00  +0040,1  +0050,1  010,1,N,0046,1  40.6  36.7    3.4
22    2017-01-01 22:00:00  +0040,1  +0050,1  010,1,V,0036,1  34.9  36.2    4.5
23    2017-01-01 23:00:00  +0040,1  +0050,1  010,1,V,0026,1  38.6  31.7    4.2
24    2017-02-01 00:00:00  +0030,1  +0050,1  010,1,N,0031,1  30.7  38.2    2.9
25    2017-02-01 01:00:00  +0030,1  +0050,1  010,1,N,0036,1  27.4  38.8    3.6
26    2017-02-01 02:00:00  +0030,1  +0050,1  010,1,N,0046,1  24.3  39.2   -0.3
27    2017-02-01 03:00:00  +0020,1  +0040,1  350,1,N,0041,1  26.8  33.8    2.5
28    2017-02-01 04:00:00  +0020,1  +0030,1  350,1,V,0021,1  33.9  28.9    3.4
29    2017-02-01 05:00:00  +0020,1  +0030,1  999,9,V,0010,1  42.5  19.0    4.3
...                   ...      ...      ...             ...   ...   ...    ...
17490 2018-12-30 18:00:00      NaN      NaN             NaN  61.2  13.6   12.9
17491 2018-12-30 19:00:00      NaN      NaN             NaN  54.7  20.6    5.2
17492 2018-12-30 20:00:00      NaN      NaN             NaN  46.7  22.0    7.0
17493 2018-12-30 21:00:00      NaN      NaN             NaN  48.4  22.6    7.5
17494 2018-12-30 22:00:00      NaN      NaN             NaN  46.4  23.7    6.0
17495 2018-12-30 23:00:00      NaN      NaN             NaN  44.5  26.1    5.1
17496 2018-12-31 00:00:00      NaN      NaN             NaN  39.4  28.4    3.1
17497 2018-12-31 01:00:00      NaN      NaN             NaN  30.8  32.0    5.7
17498 2018-12-31 02:00:00      NaN      NaN             NaN  27.8  30.2    9.4
17499 2018-12-31 03:00:00      NaN      NaN             NaN  20.0  33.9    6.1
17500 2018-12-31 04:00:00      NaN      NaN             NaN  21.2  32.5    7.1
17501 2018-12-31 05:00:00      NaN      NaN             NaN  29.3  30.7    6.8
17502 2018-12-31 06:00:00      NaN      NaN             NaN  33.3  28.6    7.0
17503 2018-12-31 07:00:00      NaN      NaN             NaN  41.2  21.7    7.5
17504 2018-12-31 08:00:00      NaN      NaN             NaN  54.8  17.0    8.8
17505 2018-12-31 09:00:00      NaN      NaN             NaN  48.5  20.0    8.0
17506 2018-12-31 10:00:00      NaN      NaN             NaN  51.7  26.6    5.6
17507 2018-12-31 11:00:00      NaN      NaN             NaN  64.1  19.0    6.3
17508 2018-12-31 12:00:00      NaN      NaN             NaN  62.2  22.2    5.9
17509 2018-12-31 13:00:00      NaN      NaN             NaN  58.6  23.2    5.3
17510 2018-12-31 14:00:00      NaN      NaN             NaN  64.8  21.9    5.2
17511 2018-12-31 15:00:00      NaN      NaN             NaN  57.2  26.1    5.6
17512 2018-12-31 16:00:00      NaN      NaN             NaN  50.0  29.7    7.0
17513 2018-12-31 17:00:00      NaN      NaN             NaN  51.7  28.7    7.2
17514 2018-12-31 18:00:00      NaN      NaN             NaN  55.2  27.6    9.8
17515 2018-12-31 19:00:00      NaN      NaN             NaN  59.3  24.4   11.5
17516 2018-12-31 20:00:00      NaN      NaN             NaN  46.9  30.4   10.6
17517 2018-12-31 21:00:00      NaN      NaN             NaN  41.9  31.5   11.0
17518 2018-12-31 22:00:00      NaN      NaN             NaN  35.1  35.6   11.3
17519 2018-12-31 23:00:00      NaN      NaN             NaN  31.7  39.4   14.8

[17520 rows x 7 columns]